footer
  nav.navbar.navbar-inverse(style='border-radius: 0px;')
    .container
      br
      br
      .col-xs-6
        font.algitn-left(color='white')
          h3  ZECTA 
        font.algiin-center(color='white')
          h6  All Rights Reserved by ZECTA © 2017
      form.navbar-form.navbar-right(role='search')
        button#top.btn.btn-info.btn-algin-center Scroll to Top
    br
    br
